body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}
h1 {
    left: 0;
    width: 98%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-weight: bold;
    font-style: italic;
    background-color: #0080ff;
    color: white;
}
#black_screen {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
#login_form {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 35vh;
    margin-bottom: auto;
    height: 20%;
    padding: 10px;
}
.table_cover {
    display: grid;
    grid-template-columns: 55% 35% 10%;
    gap: 5px;
}
.table_title {
    font-size: 120%;
    font-weight: bold;
}
.account_name {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 0;
    background-color: #404040;
    color: white;
    font-weight: bold;
    font-size: 120%;
    width: 100%;
}
.expand_normal {
    transform: rotate(45deg);
    transition: 0.5s ease;
}
.expand_click {
    transform: rotate(0deg);
}
.exp_normal {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
}
.exp_click {
    height: auto;
}
.inner_body {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.right_align {
    float: right;
    margin-right: 30px;
}