#left_panel {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #04041f;
}
.left_navigator {
    width: 0vw;
    height: 100%;
    transition: 1s ease;
}
.left_nav_show {
    width: calc(100vw - 35px);
}
#left_name {
    width: 100%;
    overflow: hidden;
    font-size: 160%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0ff;
}
#left_tree {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#left_show {
    width: 25px;
    height: 100%;
    font-weight: bold;
    font-size: 180%;
    background-color: #070733;
    color: #f0f0ff;
    cursor: pointer;
}
@media only screen and (min-width: 850px) {
    .left_nav_show {
        width: 35vw;
    }
}